<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="https://www.laprimairefr.org/" class="logo">
    <img
      alt="La Primaire des Françaises et des Français"
      src="/assets/logo-LPFF.svg"
    />
  </a>
</div>

<div class="content" role="main">
  <app-vote-form></app-vote-form>
</div>

<footer class="footer" style="padding-bottom: 10em"></footer>

<router-outlet></router-outlet>
