section {
  // display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 1ex;
}

.form-group {
  margin-top: 4px;
  margin-bottom: 1.5em;
}

.info {
  // display: flex;
  padding: 6px 16px;
  color: rgb(1, 67, 97);
  background-color: rgb(229, 246, 253);
  margin: 1em;
  border-radius: 4px;
  line-height: 120%;
  margin-right: 24px;

  > .icon {
    color: #03a9f4;
    padding: 7px 0;
    display: flex;
    font-size: 22px;
    opacity: 0.9;
    margin-right: 12px;
  }

  > .body {
    padding: 8px 0;
    line-height: 1.43;
  }

  > .body > .title {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-bottom: 0.35em;
    font-weight: 500;
    margin-top: -2px;
  }
}

.form-group.gender {
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
}

.location {
  width: 30em;
}

.birthDateDayDay,
.birthDateDayMonth {
  max-width: 5em;
}
.birthDateYear {
  max-width: 6em;
}

a .mat-icon {
  height: 16px;
  line-height: 16px;
  opacity: 0.9;
  vertical-align: text-bottom;
}

.can-radio-button {
  margin: 5px;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

.form-container {
  margin-top: 16px;
}

.identity div {
  line-height: 24px;
}

.card-container {
  margin-top: 12px;
  margin-bottom: 12px;
}

.card-container-col {
  margin-top: 16px;
}

.card-identity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.can-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.nne {
  width: 14em;
}

h3 {
  margin-top: 2em;
  margin-bottom: 1ex;
}

.big-btn {
  font-size: 200%;
  line-height: 180%;
  padding: 0 10%;
}

.form-group.identity {
  line-height: 180%;
}

.med-btn {
  font-size: 150%;
  line-height: 180%;
  padding: 0 15%;
}

.sml-btn {
  font-size: 80%;
  line-height: 180%;
}

@media only screen and (min-width: 960px) {
  .form-group.candidate .candidate {
    margin-left: 20%;
  }
}

.invalid {
  color: red;
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.confirm-buttons,
.vote-buttons {
  button {
    margin: 1ex 1em;
  }

  text-align: center;
}
