<mat-stepper
  [labelPosition]="'bottom'"
  [linear]="isLinear"
  [orientation]="(stepperOrientation | async)!"
  (selectionChange)="stepperSelectionChange($event)"
  #stepper
>
  <mat-step [editable]="true" [stepControl]="step[0]">
    <form [formGroup]="step[0]" class="form-container">
      <ng-template matStepLabel>Présentation</ng-template>
      <div class="card-container-col">
        <div
          *ngIf="{
            voteStatus: voteStatus$ | async,
            countDown: dateDiff(now(), voteStarts),
            countUp: dateDiff(now(), voteEnds)
          } as obsVote"
        >
          <div *ngIf="!obsVote.voteStatus?.started">
            <h2>Procédure de Vote</h2>
            <h3>
              <mat-icon>perm_identity</mat-icon>
              Saisissez et Validez vos Informations
            </h3>
            <h3>
              <mat-icon>help_outline</mat-icon>
              Choisissez votre Candidat
            </h3>
            <h3>
              <mat-icon>check_circle_outline</mat-icon>
              Validez votre Votation
            </h3>
            <div class="spacer"></div>
          </div>
          <div *ngIf="!obsVote.voteStatus?.started" class="center">
            <h3>Le vote va commencer dans</h3>

            <div class="countdown">
              {{ obsVote.countDown.day }}
              <span class="label"
                >jour{{ obsVote.countDown.day >= 1 ? 's' : '' }}</span
              >
              {{ obsVote.countDown.hour }} <span class="label">h</span>
              {{ obsVote.countDown.minute }} <span class="label">min</span>
              {{ obsVote.countDown.second }} <span class="label">s</span>
            </div>
          </div>

          <div *ngIf="obsVote.voteStatus?.open">
            <div class="center" style="padding-top: 5em">
              <h2>Le vote est en cours</h2>

              <div class="spacer"></div>
              <div class="spacer"></div>

              <button
                mat-raised-button
                matStepperNext
                [disabled]="!obsVote.voteStatus?.open"
                color="primary"
                class="big-btn"
              >
                Procéder au Vote
              </button>
            </div>

            <div
              *ngIf="{
                voteStatus: voteStatus$ | async,
                countUp: dateDiff(now(), voteEnds)
              } as obsVote"
              class="center"
            >
              <div *ngIf="obsVote.voteStatus?.open">
                <div
                  class="countdown"
                  style="padding-top: 5em; padding-bottom: 5em"
                >
                  <h3>
                    Temps Restant:
                    {{ obsVote.countUp.day }}
                    <span class="label"
                      >jour{{ obsVote.countUp.day >= 1 ? 's' : '' }}</span
                    >
                    {{ obsVote.countUp.hour }} <span class="label">h</span>
                    {{ obsVote.countUp.minute }}
                    <span class="label">min</span>
                    {{ obsVote.countUp.second }} <span class="label">s</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="obsVote.voteStatus?.ended">
            <div class="spacer"></div>
            <div class="spacer"></div>
            <h3 class="center">Le vote est terminé.</h3>
            <div class="spacer"></div>
            <div class="spacer"></div>
          </div>
        </div>
      </div>
    </form>
  </mat-step>

  <div *ngIf="(voteStatus$ | async)?.open; else voteClosed">
    <mat-step [editable]="true" [stepControl]="step[1]">
      <form
        [formGroup]="step[1]"
        class="form-container vote-form"
        autocomplete="off"
      >
        <ng-template matStepLabel>Votre identité</ng-template>

        <div
          *ngIf="{
            results: suggestedCities$ | async,
            loading: suggestedCitiesIsLoading$ | async
          } as obs"
        >
          <div class="form-group">
            <h3>Dans quelle commune ou consulat êtes-vous inscrit(e) ?</h3>

            <mat-form-field class="location">
              <input
                type="text"
                formControlName="location"
                placeholder="Commune"
                aria-label=""
                matInput
                [matAutocomplete]="cityControlAutocomplete"
                required
                (ngModelChange)="locationChange($event)"
              />
              <mat-autocomplete
                #cityControlAutocomplete="matAutocomplete"
                [displayWith]="cityControlDisplayName"
                [panelWidth]="400"
              >
                <ng-container *ngIf="!obs.loading">
                  <mat-option *ngFor="let city of obs.results" [value]="city">
                    <span
                      >{{ city.LIBELLE }} <i>({{ city.DEP }})</i></span
                    >
                  </mat-option></ng-container
                >
                <mat-option disabled class="loading" *ngIf="obs.loading">
                  <mat-spinner diameter="20" style="margin: auto"></mat-spinner>
                </mat-option>
                <mat-option
                  disabled
                  *ngIf="
                    !obs.loading &&
                    obs.results &&
                    !obs.results.length &&
                    (step[1].controls.location.value || '').trim().length >= 2
                  "
                >
                  Aucune correspondance
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="form-group">
            <h3>Votre Code Postal</h3>
            <mat-form-field class="zip">
              <mat-label>Code Postal</mat-label>
              <input
                matInput
                formControlName="zip"
                type="text"
                maxlength="5"
                required
              />
              <mat-hint>consulat&thinsp;: saisir&nbsp;00000</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <h3>Quel est votre nom ?</h3>

            <div class="info">
              <div class="icon">
                <mat-icon
                  svgIcon="info"
                  aria-hidden="true"
                  aria-label="Info"
                ></mat-icon>
              </div>
              <div class="body">
                Nom de naissance ou nom rectifié après décision du tribunal
              </div>
            </div>

            <mat-form-field
              appearance="fill"
              style="width: 20em; max-width: 100%"
            >
              <mat-label>Nom</mat-label>
              <input
                matInput
                formControlName="name"
                placeholder="NOM"
                type="text"
                required
                (keyup)="
                  step[1].controls.name.setValue(
                    step[1].controls.name.value.toUpperCase()
                  )
                "
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <h3>Quels sont vos prénoms ?</h3>

            <div class="info">
              <div class="icon">
                <mat-icon
                  svgIcon="info"
                  aria-hidden="true"
                  aria-label="Info"
                ></mat-icon>
              </div>
              <div class="body">
                Indiquez tous vos prénoms dans l’ordre de l’état civil
              </div>
            </div>

            <section>
              <mat-checkbox formControlName="firstNameDisabled"></mat-checkbox>
              &nbsp; Je n’ai pas de prénom (Cochez si vous êtes concerné(e))
            </section>

            <!-- <mat-form-field appearance="fill" style="width: 100%">
              <mat-label>{{
                step[1].value.firstNameDisabled ? 'Aucun prénom' : 'Prénom(s)'
              }}</mat-label>
              <input
                matInput
                formControlName="firstName"
                type="text"
                required
                (keyup)="
                  step[1].controls.firstName.setValue(
                    ucFirst(
                      step[1].controls.firstName.value,
                      'eachWord',
                      ' -\''
                    )
                  )
                "
              />
            </mat-form-field> -->

            <div>
              <div
                formArrayName="firstNames"
                *ngFor="
                  let firstNameControl of firstNamesControl.controls;
                  let i = index;
                  let first = first;
                  let last = last
                "
              >
                <div [formGroupName]="i">
                  <mat-form-field appearance="fill">
                    <mat-label>Prénom</mat-label>
                    <input
                      matInput
                      type="text"
                      [required]="!step[1].value.firstNameDisabled"
                      formControlName="firstName"
                      (keyup)="
                        firstNamesControl.controls[i].setValue({
                          firstName: ucFirst(
                            firstNamesControl.controls[i].value.firstName || '',
                            'eachWord',
                            ' -\''
                          )
                        })
                      "
                    />
                  </mat-form-field>

                  <button
                    *ngIf="!first && !step[1].value.firstNameDisabled"
                    color="warn"
                    mat-button
                    (click)="delInputFirstName(i)"
                    title="Supprimer ce champ prénom"
                    tabindex="-1"
                    type="button"
                  >
                    <i>Supprimer</i>
                  </button>
                </div>
              </div>

              <button
                *ngIf="true"
                mat-button
                color="primary"
                (click)="addInputFirstName()"
                title="Ajouter un champ prénom"
                type="button"
                [disabled]="step[1].value.firstNameDisabled"
              >
                <i>+ Ajouter le prénom suivant</i>
              </button>
            </div>
          </div>

          <div class="form-group gender">
            <h3>Quel est votre sexe&thinsp;?</h3>

            <mat-radio-group
              formControlName="gender"
              aria-label="Sélectionner Masculin ou Féminin"
              aria-labelledby="gender-label"
              required
              class="{{ step[1].controls['gender'].invalid ? 'invalid' : '' }}"
            >
              <mat-radio-button
                *ngFor="let g of genders"
                [value]="g"
                [aria-label]="g"
              >
                {{ g }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-group birthDate">
            <h3>Quelle est votre date de naissance&thinsp;?</h3>

            <section>
              <mat-checkbox
                formControlName="birthDateIncomplete"
              ></mat-checkbox>
              &nbsp; Mon acte de naissance n’indique pas la date complète
              (Cochez si vous êtes concerné(e))
            </section>
            <div>
              <mat-form-field class="birthDateDayMonth" appearance="fill">
                <mat-label>Jour</mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="birthDateDay"
                  min="01"
                  max="31"
                  maxlength="2"
                  placeholder="Ex: 21"
                  autocomplete="bday-day"
                  [required]="!identity.birthDateIncomplete"
                  (keyup)="
                    step[1].controls.birthDateDay?.setValue(
                      formatDate(step[1].value.birthDateDay)
                    )
                  "
                />
                <!-- <span matPrefix
                ><span
                  *ngIf="
                    identity.birthDate.day > '0' &&
                    identity.birthDate.day < '10'
                  "
                  >0</span
                ></span> -->
              </mat-form-field>
              <mat-form-field class="birthDateDayMonth" appearance="fill">
                <mat-label>Mois</mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="birthDateMonth"
                  max="12"
                  min="01"
                  maxlength="2"
                  placeholder="Ex: 06"
                  autocomplete="bday-month"
                  required
                  (keyup)="
                    step[1].controls.birthDateMonth?.setValue(
                      formatDate(step[1].value.birthDateMonth)
                    )
                  "
                />
              </mat-form-field>
              <mat-form-field class="birthDateYear" appearance="fill">
                <mat-label>Année</mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="birthDateYear"
                  min="1900"
                  [max]="birthDateYearMax"
                  maxlength="4"
                  placeholder="Ex: 1956"
                  autocomplete="bday-year"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="formGroup">
            <h3>Votre Numéro National d'Électeur</h3>
            <mat-form-field class="nne">
              <mat-label>Numéro National d'Électeur</mat-label>
              <input
                matInput
                formControlName="nne"
                type="text"
                placeholder="(9 chiffres)"
                required
                [errorStateMatcher]="nneMatcher"
                (change)="
                  step[1].controls.nne.setValue(trim(step[1].value.nne || ''))
                "
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <div class="info">
              <div class="icon">
                <mat-icon
                  svgIcon="info"
                  aria-hidden="true"
                  aria-label="Info"
                ></mat-icon>
              </div>
              <div class="body center">
                <div class="title center">
                  Vous n'avez pas votre Carte Électorale, ou vous ne connaissez
                  pas votre Numéro National d'Électeur&thinsp;?
                </div>
                Vous le trouverez sur la liste électorale depuis le site du
                service-public.fr&thinsp;:

                <div style="margin: 1em">
                  <a
                    href="https://www.service-public.fr/particuliers/vosdroits/services-en-ligne-et-formulaires/ISE"
                    title="INTERROGER VOTRE SITUATION ÉLECTORALE"
                    target="_blank"
                  >
                    INTERROGER VOTRE SITUATION ÉLECTORALE

                    <mat-icon
                      aria-hidden="true"
                      aria-label="Lien externe"
                      svgIcon="open_in_new"
                    ></mat-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- <button
                mat-stroked-button
                color="primary"
                (click)="updateIdentity()"
                type="button"
              >
                Enregistrer
              </button> -->

            <div class="center">
              <!-- <button mat-button matStepperPrevious>Précédent</button> -->
              <button
                mat-raised-button
                matStepperNext
                [disabled]="!step[1].valid"
                class="med-btn"
                color="primary"
              >
                Suivant
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step
      label="Confirmation"
      [editable]="true"
      [stepControl]="step[2]"
      (click)="consoleLog('ok')"
    >
      <div class="form-container">
        <form [formGroup]="step[2]">
          <div class="form-group identity">
            <div *ngIf="identity.gender === 'Masculin'">Monsieur</div>
            <div *ngIf="identity.gender === 'Féminin'">Madame</div>

            <div>
              <span *ngIf="!identity.firstNameDisabled; else noFirstName">
                <small
                  >{{
                    identity.firstNames.length === 1
                      ? 'Prénom'
                      : 'Prénoms (' + identity.firstNames.length + ')'
                  }}&thinsp;:
                </small>

                {{ identity.firstNames.join(', ') }}

                <!-- <span *ngFor="let firstName of identity.firstNames">
                  {{ firstName }}
                </span> -->
              </span>
              <ng-template #noFirstName>
                <i>Aucun prénom</i>
              </ng-template>
            </div>
            <div>
              <small>Nom&thinsp;:</small>
              {{ identity.name }}
            </div>
            <div>
              <small
                >Né{{
                  identity.gender === 'Féminin' ? 'e' : ''
                }}
                le&thinsp;:</small
              >

              <span>
                {{
                  identity.birthDateIncomplete ? 'XX' : identity.birthDate.day
                }}
                / {{ identity.birthDate.month }} /
                {{ identity.birthDate.year }}
              </span>
            </div>
            <div>
              <small>Liste électorale de la commune de&thinsp;:</small>
              <span class="nowrap">
                {{ identity.location }}
                ({{ identity.zip }})
              </span>
            </div>
            <div>
              <small>Numéro National d'Électeur&thinsp;:</small>
              {{ identity.nne }}
            </div>
          </div>

          <div class="spacer muted">
            <strong>Attention</strong>&thinsp;: si vos coordonnées sont erronées
            ou non vérifiables, votre vote ne sera pas pris en compte.
            <br />
            Assurez vous d'avoir bien saisi tous vos prénoms.
          </div>

          <div class="form-group confirm-buttons">
            <button mat-raised-button matStepperPrevious color="accent">
              Modifier mes informations
            </button>

            &nbsp;

            <button mat-raised-button matStepperNext color="primary">
              Confirmer mes informations
            </button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step
      label="Choisissez un candidat"
      [editable]="true"
      [stepControl]="step[3]"
      ><div class="form-container">
        <form [formGroup]="step[3]">
          <div class="form-container">
            <div>
              <div class="form-group candidate">
                <mat-radio-group
                  class="can-radio-group"
                  formControlName="candidate"
                >
                  <div class="candidate" *ngFor="let candidate of candidates">
                    <mat-radio-button
                      class="can-radio-button"
                      [value]="candidate"
                    >
                      {{ candidate }}
                    </mat-radio-button>
                  </div>
                </mat-radio-group>

                <div class="form-group center">
                  <div style="margin-bottom: 1ex">
                    <small class="container" style="color: silver">
                      Choix Candidat&thinsp;:
                    </small>
                  </div>
                  <div style="font-size: 120%">
                    <strong
                      *ngIf="step[3].controls.candidate.value; else noCandidate"
                    >
                      {{ step[3].controls.candidate.value }}
                    </strong>
                    <ng-template #noCandidate>
                      <span style="color: silver">
                        <i> Choisissez votre candidat </i>
                      </span>
                    </ng-template>
                  </div>
                </div>
              </div>

              <div class="form-group candidate-confirm center">
                <button
                  mat-raised-button
                  matStepperNext
                  class="big-btn"
                  color="primary"
                  [disabled]="!step[3].controls.candidate.value"
                >
                  Valider mon choix
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step label="Votez" [stepControl]="step[4]" [editable]="false">
      <div class="form-container">
        <form [formGroup]="step[4]">
          <!-- Success: has voted -->
          <div
            *ngIf="voteSubmitSucceeded$ | async"
            class="center"
            style="padding-top: 4em; padding-bottom: 5em"
          >
            <h3>Votre vote a bien été enregistré</h3>

            <div style="padding-top: 5em; padding-bottom: 5em">
              <button
                mat-raised-button
                type="button"
                (click)="resetStepper()"
                class="med-btn"
              >
                Terminé
              </button>
            </div>
          </div>

          <!-- Error: has voted -->
          <div
            *ngIf="voteSubmitErrorHasVoted$ | async"
            class="center"
            style="padding-top: 4em; padding-bottom: 5em"
          >
            <h3>Erreur</h3>
            <h4>Il semble que vous ayez déjà voté.</h4>

            <div style="padding-top: 5em; padding-bottom: 5em">
              <button
                mat-raised-button
                type="button"
                (click)="resetStepper()"
                class="med-btn"
              >
                Terminé
              </button>
            </div>
          </div>

          <div
            *ngIf="
              !(voteSubmitSucceeded$ | async) &&
              !(voteSubmitErrorHasVoted$ | async)
            "
            class="vote-buttons"
          >
            <div class="spacer">
              <button
                mat-raised-button
                (click)="showVote = !showVote"
                color="basic"
              >
                <mat-icon *ngIf="!showVote">expand_less</mat-icon>
                <mat-icon *ngIf="showVote">expand_more</mat-icon>

                {{ showVote ? 'Masquer' : 'Afficher' }} le candidat sélectionné
              </button>
              <div [hidden]="!showVote">
                <div class="spacer muted">
                  Vous donnez votre voix à&thinsp;:
                </div>

                <strong>{{ vote }}</strong>
              </div>
            </div>

            <button
              mat-raised-button
              matStepperPrevious
              color="accent"
              [disabled]="
                (voteSubmitLoading$ | async) || (voteSubmitLock$ | async)
              "
            >
              Changer mon Choix
            </button>
            &nbsp;
            <button
              mat-raised-button
              type="button"
              color="primary"
              [disabled]="
                !vote ||
                (voteSubmitLoading$ | async) ||
                (voteSubmitLock$ | async)
              "
              class="big-btn"
              (click)="voteSubmit()"
            >
              Voter
            </button>
          </div>
        </form>
      </div>
    </mat-step>
  </div>

  <ng-template #voteClosed>
    <mat-step [stepControl]="step[-1]">
      <ng-template matStepLabel>Vote fermé</ng-template>
      Le vote sera ouvert de dimanche 16 janvier 0h00 au 22 janvier minuit.
    </mat-step>
  </ng-template>
</mat-stepper>

<!-- <footer>
  <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? 'Enable linear mode' : 'Disable linear mode' }}
  </button>

  <button (click)="forceOpenToggle()">Toggle forceOpen</button>
</footer> -->

<footer>
  <div class="spacer"></div>

  <div class="center{{ stepper.selectedIndex == 0 ? ' hidden' : '' }}">
    <button
      mat-raised-button
      color="accent"
      (click)="confirmResetStepper()"
      class="btn-reset"
    >
      Annuler
    </button>
  </div>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <div class="center">
    <a href="https://www.laprimairefr.org/">www.laprimairefr.org</a>
  </div>

  <div class="spacer"></div>
  <div class="center">
    <a
      href="https://gitlab.com/primaire-des-francaises"
      class="link-git"
      target="_blank"
    >
      Code source
    </a>
  </div>
</footer>
