/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
}

.toolbar {
  text-align: center;

  a.logo {
    display: block;
    padding: 20px 0 20px 50px;

    img {
      display: block;
      margin: 0 auto;
      width: 90%;
    }
  }

  // #twitter-logo {
  //   height: 40px;
  //   margin: 0 8px;
  // }

  // #youtube-logo {
  //   height: 40px;
  //   margin: 0 16px;
  // }

  // #twitter-logo:hover,
  // #youtube-logo:hover {
  //   opacity: 0.8;
  // }
}

.content {
  margin: 30px auto 30px;
  padding: 0 16px;
  max-width: 960px;
}

.spacer {
  padding: 20px;
}

.muted {
  color: silver;
}
